body {
    background: rgb(68, 68, 196);
}

h1 {
    color: white;
    text-align: center;
}
section {
    background: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.459);
}
footer{
    text-align: center;
    color: white;

}